<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>TheContactBook</title>
        <!-- CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
        <link href="static/css/styles.css" rel="stylesheet">

        <style>
            @font-face {
            font-family: Aloevera;
            src: url(static/fonts/Aloevera-OVoWO.woff) format("opentype");
            font-weight: 900;}
        </style>

    </head>
    <body>

    <!--  navbar  -->
    <div class="page-navbar">
        <nav class="navbar navbar-expand-lg">
          <div class="container-fluid">
            <a class="navbar-brand" href="#">TheContactBook</a>
          </div>
        </nav>
    </div>

</body>
</html>