<!DOCTYPE html>
{% include 'header.html' %}

<!--  rest of page  -->
<div class="page-content">

    <div class="container">
        <div class="row">
            <div class="col col-6">
                <div class="card" style="width: 18rem;">
                    <img src="static/images/cake-icon.png" class="card-img-top" alt="cake img">
                    <div class="card-body">
                        <h5 class="card-title">"Cake Girl"</h5>
<!--                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of-->
<!--                            the-->
<!--                            card's content.</p>-->
<!--                        <a href="#" class="btn btn-primary">Go somewhere</a>-->

                    </div>
                </div>
            </div>
            <div class="col col-6">
                <div class="card" style="width: 18rem;">
                    <img src="static/images/cookie-icon.png" class="card-img-top rounded-circle" alt="cookie img">
                    <div class="card-body">
                        <h5 class="card-title">"Cookie Girl"</h5>
<!--                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of-->
<!--                            the-->
<!--                            card's content.</p>-->
<!--                        <a href="#" class="btn btn-primary">Go somewhere</a>-->

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


</body>
</html>